/* MyAppointments.css */

.my-appointmentsview {
   display: flex;
  min-height: 100vh;
  background-color: #f9f9f9;
}

/* Sidebar already styled via <PatientSidebar /> component */

.my-appointments-content {
   flex: 1;
  padding: 20px;
}

.my-appointments-content h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

thead th {
  background-color: #66696d;
  color: white;
  padding: 10px;
  text-align: left;
}

tbody td {
  padding: 10px;
  border-top: 1px solid #ddd;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

p {
  font-size: 16px;
  color: #555;
}
