.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
   background-color: lightgray;
    color: hsl(272, 72%, 59%);
    border: 2px solid  (272, 72%, 59%);;
    padding: 15px 30px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li {
    display: inline;
  }
  .nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    background-color: hsl(272, 72%, 59%);
    border: 2px solid hsl(272, 72%, 59%);
    border-radius: 25px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .nav-links li a:hover {
    background-color: white;
    color: hsl(272, 56%, 46%);
    text-decoration: none;
  }
  