.patient-register-container {
  display: flex;  /* Enables side-by-side layout */
  height: 100vh;
}

/* Container Styles */
.patient-management-content {
  flex: 1;  /* Takes remaining space */
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100vh;
   
}

/* Top Section: Search & Add Button */
.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
h2 {
    text-align: center;
    color: #3f454b;
    font-style: bold;
  }
   
  /* Search Bar */
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    margin-left: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

/* Scrollable Table */
.table-container {
  border: 1px solid #ddd;
  max-height: calc(100vh - 150px); /* Adjust height */
  overflow-y: auto;
  position: relative;
}
  
  /* Table Header (Fixed) */
thead {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}

  /* Scrollable Table Body */
.table-body {
  max-height: 400px; /* Adjust as needed */
  overflow-y: auto;
   
}

 

  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #3a444e;
    color: white;
  }
  
  /* Button Styles */
  .add-btn {
    background-color: hsl(272, 52%, 35%);
    color: white;
    align-items: center;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 15px;
    margin-right: 5px;
    margin-left: 5px;
  }
  
  .add-btn:hover {
    background-color: hsl(277, 40%, 27%);
  }
  
  /* Modal Styles */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    text-align: center;
  }
  
  .modal-content h3 {
    color: #2c3e50;
  }
  
  .modal-content input,
  .modal-content select,
  .modal-content textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .modal-content button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .modal-content button[type="submit"] {
    background-color: hsl(130, 61%, 43%);
    color: white;
  }
  
  .modal-content button[type="button"] {
    background-color: #f54d4d;
    color: white;
  }
  
  .modal-content button:hover {
    opacity: 0.8;
  }
  