/* TreatmentPage.css */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.treatment-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9fafb;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.main-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  color: #333;
}

.patient-section, .history-section {
  margin-bottom: 30px;
}

.patient-details p {
  margin: 6px 0;
  font-size: 16px;
}

.button-wrapper {
  text-align: right;
  margin-bottom: 20px;
}

.add-treatment-btn {
  background-color:  hsl(272, 53%, 50%);
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.add-treatment-btn:hover {
  background-color:  hsl(271, 44%, 32%);
}

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

th, td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #9f9fa0;
  color: white;
  font-weight: 500;
}

.no-treatments {
  font-style: italic;
  color: #666;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 420px;
  max-width: 90%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  position: relative;
}

.modal-content h3 {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

.modal-content label {
  display: block;
  margin-top: 12px;
  font-weight: bold;
  color: #333;
}

.modal-content input,
.modal-content textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: vertical;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.modal-buttons button {
  padding: 10px 20px;
  border: none;
  background-color: hsl(130, 61%, 43%);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.modal-buttons button[type="button"] {
  background-color: #f54d4d;
}

.modal-buttons button:hover {
  opacity: 0.7;
}

.required {
  color: red;
  margin-left: 4px;
}

.loading-text {
  text-align: center;
  margin-top: 100px;
  font-size: 20px;
  color: #555;
}
